<p>Ask your coach anything:</p>


    <form action="answer" data-turbo="false" method="get" style="position:relative;">
      <input class="line" type="text" name="question">
      <input class="btn btn-primary btn-position"  type="submit" value="Ask!">
    </form>
